/*
Desktop = 1280 x 720
Table = 1027 x 768
Cel = ? x 320

1 celular display
*/

:root{
  --raisin-black: #1C1B24;
  --xiketic: #04061d;
  --darker-blue:#0b1744;
  --resoution-blue:#082084;
  --absolut-zero:#1A49B1;
  --cool-grey: #858AAB;
  --lavander-blue:#B7BFF3;
  --buttonsX: 80%;
  --childBtnX: calc(var(--buttonsX)  - 220px);
  --tabFinalX: 40%;
}

body{
  overflow:hidden; 
}

html{
  background-color: black;
}

button{
  background-color: var(--resoution-blue);
  color: white;
  border-radius: 5px;
  width: 200px;
  
  padding: 10px 5px 15px;
  border: transparent;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);

  box-shadow: 
    -3px 1px 0px var(--darker-blue),
    -4px 4px 0px var(--darker-blue);
}

button:hover{
  cursor: pointer;
  


  background-color: #1A49B1;
  text-shadow:
  0 0 7px #fff,
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero),
  0 0 92px var(--absolut-zero),
  0 0 142px var(--absolut-zero);

  box-shadow: 
  0 0 10px var(--absolut-zero),
  0 0 40px var(--absolut-zero),
  0 0 80px var(--absolut-zero),

  -3px 1px 0px var(--darker-blue),
  -5px 2px 0px var(--darker-blue);
}

button:active{
  box-shadow: none;
  text-shadow: none;
  /*
  -ms-transform: skewX(-10deg) , translateY(3px);
  -webkit-transform: skewX(-10deg) , translateY(3px);
  */
  transform: translateX(-4px) translateY(4px) skewX(-10deg);   
}


.btn-active, .btn-active:hover{
  z-index: 2;
  transform: translateX(-4px) translateY(4px) skewX(-10deg);  
  background-color: #1A49B1;
  border: solid 1px white;
  margin: 4px;
  text-shadow:
  0 0 7px #fff,
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero),
  0 0 92px var(--absolut-zero),
  0 0 142px var(--absolut-zero);

  box-shadow:
  0 0 7px #fff,
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero),
  0 0 92px var(--absolut-zero);
}

.my-name{
  z-index: 2;
  cursor: context-menu;
  color: white;
  font-style: italic;
  font-size: 450%;

  position: absolute;
  top: -50px;
  left: 50px;

  text-shadow:
  0 0 7px #fff,
 
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero),
  0 0 92px var(--absolut-zero),
  0 0 142px var(--absolut-zero);
}

.my-name-fadeIn{
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.frontend-dev {
  z-index: 2;
  position: absolute;
  width: fit-content;
  cursor: context-menu;
  color: white;
  font-style: italic;
  font-size: 250%;
  font-weight: bold;

  top: 2.5%;
  right: 5%;
  margin: 5px;

  animation: fadeIn 5s;

  text-shadow:
  0 0 7px #fff,
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero),
  0 0 92px var(--absolut-zero),
  0 0 142px var(--absolut-zero);
}


.aboutMe-btn, .contact-btn, .projects-btn{
  position: absolute;
  right: 100%;
}

.aboutMe-btn{
  top: 35%;
  animation: 1.5s slide-btn forwards;
  animation-delay: 1s;
}

.contact-btn{
  top: 45%;
  animation: 1.5s slide-btn forwards;
  animation-delay: 1.4s;
}

.projects-btn{
  top: 55%;
  animation: 1.5s slide-btn forwards;
  animation-delay: 1.8s;
}

@keyframes slide-btn {
  from {
    right: 100%; 
  }
  to {
    right: var(--buttonsX);
    }
}


.photo-blue, .photo-normal{
  position: absolute;
  overflow: hidden;
  top: 100px;
  right: 30%;
  z-index: -1;

  height: auto;
  max-width: 30%;
}

.glitch-intro{
  z-index: 0;
  opacity: 0;
  animation: glitch-intro 0.07s forwards;
  animation-delay: 3.5s;
  animation-iteration-count: 5;
}

@keyframes glitch-intro {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.icon{
  position: absolute;
  overflow: hidden;
  top: 87%;
  left: 100%;   
  height: auto;
  max-width: 4%;
  margin: 3px;
  z-index:2 ;
}

.js-logo {
  animation: 1s sliding-javascript ease-out forwards;
  animation-delay: 1.5s;
}

@keyframes sliding-javascript {
  from {
    right: -50px; 
  }
  to {
    left: 80%;
  }
}

.ts-logo {
  animation: 1s sliding-typescript ease-out forwards;
  animation-delay: 1.9s;
}
@keyframes sliding-typescript {
  from {
    left: 100%; 
  }
  to {
    left: 85%;
  }
}
.react-logo {
  animation: 1s sliding-react ease-out forwards;
  animation-delay: 2.3s;
}
@keyframes sliding-react {
  from {
    left: 100%; 
  }
  to {
    left: 90%;
  }
}

.aboutMe-tab, .contact-tab{
  position: absolute; 
  top:25%;
  left: 105%;
  width: 600px;
  height: 300px;
  background-color: var(--xiketic);
  border: solid 2px white;
  box-shadow:
  0 0 7px #fff,
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero);

  color: white;
  padding: 10px 20px 10px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.flag{
  position: relative;
  width: 40px;
  height: 27.5px;
  margin: 1px;
  top: 30px;
  right: -80%;
  
}
.flag:hover{
  cursor: pointer;
}

.contact-tab{
  height: 350px;
  display: inline-grid;
  grid-template-columns: auto auto;
  row-gap: 5px;
  width: 500px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
  letter-spacing: 1px;
}

.big-contact-logo, .sml-contact-logo, .github-btn{
  position: relative;
  border-radius: 50%;
  height: auto;
  width: 60px;
  margin: 10px;

  
}

.big-contact-logo:hover, .sml-contact-logo:hover, .github-btn:hover{
  cursor: pointer;
  
  box-shadow: 
  0 0 10px var(--absolut-zero),
  0 0 40px var(--absolut-zero);
}

.big-contact-logo:active, .sml-contact-logo:active{
  transform: translateY(2px);
}
.whatsapp-logo:hover, .whatsapp-logo:active{
  cursor: default;
  box-shadow: none;
  transform: none;
}
.whatsapp-label, .gmail-label, .linkedin-label, .github-label{
  position: relative;
  left: 10px;

}
.enterTab{
  animation: 1s slidingIn-tab forwards;
}

.exitTab{
  animation: 1s slidingOut-tab forwards;
}

@keyframes slidingIn-tab {
  from {
    left: 105%;
    visibility: hidden; 
  }
  to {
    left: var(--tabFinalX);;
    visibility: visible;
  }
}

@keyframes slidingOut-tab {
  from {
    left: var(--tabFinalX);

  }
  to {
    left: 104%;

  }
}

.fade-in{
  animation: fadeIn 1s forwards;
}

.fade-out{
  animation: fadeOut 1s forwards;
}

.show{
  visibility: visible;
}

.hide{
  visibility: hidden;
}

.watcher-btn{
  animation: expand-watcher 0.2s linear forwards;
}


@keyframes expand-watcher {
  from{
    top: 55%;
    right: var(--buttonsX);
  }
  to{
    right: var(--childBtnX);
    top:45%;
  }
}

.shrink-watcher{
  animation: shrink-watcher 0.2s linear forwards;
}
@keyframes shrink-watcher {
  from{
    z-index: 0;
    right: var(--childBtnX);
    top:45%;
  }
  to{
    z-index: -1;
    right: var(--buttonsX);
    top: 55%;
  }
}

.timemanager-btn{
  animation: expand-timemanager 0.2s linear forwards;
}
@keyframes expand-timemanager {
  from{
    right:var(--buttonsX);
  }
  to{
    right: var(--childBtnX);
  }
}

.shrink-timemanager{
  animation: shrink-timemanager 0.2s linear forwards;
}

@keyframes shrink-timemanager {
  from{
    z-index: 0;
    right: var(--childBtnX);
  }
  to{
    z-index: -1;
    top: 55%;
    right: var(--buttonsX);
  }
}

.mainevent-btn{
  animation: expand-mainevent 0.2s linear forwards;
}
@keyframes expand-mainevent {
  from{
    top: 55%;
    right: var(--buttonsX);
  }
  to{
    top: 65%; 
    right: var(--childBtnX);
  }
}

.shrink-main{
  animation: shrink-mainevent 0.2s linear forwards;
}
@keyframes shrink-mainevent {
  from{
    z-index: 0;
    top: 65%; 
    right: var(--childBtnX);

  }
  to{
    z-index: -1;
    top: 55%;
    right: var(--buttonsX);
  }
}

.mypage-btn{
  animation: expand-mypage 0.2s linear forwards;
}
@keyframes expand-mypage {
  from{
    top: 55%;
    right: var(--buttonsX);
  }
  to{
    top: 75%; 
    right: var(--childBtnX);
  }
}

.shrink-mypage{
  animation: shrink-mypage 0.2s linear forwards;
}
@keyframes shrink-mypage {
  from{
    z-index: 0;
    top: 75%; 
    right: var(--childBtnX);

  }
  to{
    z-index: -1;
    top: 55%;
    right: var(--buttonsX);
  }
}

.tab-header{
  width: fit-content;
}
.tab-title{
  position: relative;
  display: inline-block;
  position: relative;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;

}
.about-title{
  position: relative;
  top: -25px;
  
}
/*
.watcher-h3{
  left: 260%;
}
.time-h3{
  left: 130%;
}
.main-h3{
  left:38%;
}
.mypage-h3{
  left: 40%;
}
*/
.github-btn{
  position: absolute;
  width: 40px;
  top: 20px;
  right: 5%;
}

.icon-on-tab1, .icon-on-tab2, .icon-on-tab3{
  max-width: 6%;
  top: 85%;
}
.icon-on-tab1{
  left: 85%;
}
.icon-on-tab2{
  left: 92%;
}
.icon-on-tab3{
  left: 100%;
}

.loading-text {
  cursor: context-menu;
  color: white;
  font-style: italic;
  font-size: 300%;

  position: absolute;
  bottom: -20px;
  right: 85%;

  text-shadow:
  0 0 7px #fff,
 
  0 0 12px var(--absolut-zero),
  0 0 42px var(--absolut-zero),
  0 0 92px var(--absolut-zero),
  0 0 142px var(--absolut-zero);
}

.warning-tab{
  position: absolute;
  z-index: 4;
  left: 20%;
  width: 400px;
  height: 200px;

}

.warning-btn{
  position: relative;
  left: 23%;
  top: 1%;
}

/* DESKTOP small screen ============================================================================*/
@media (max-width: 1150px) 
{
  :root{
    --buttonsX: 83%;
    --childBtnX: calc(var(--buttonsX)  - 180px);
    --tabFinalX: 37%;
  }
  button{
    width: 150px;
    letter-spacing: 1px;
    font-size: 15px;
  }
  .photo-blue, .photo-normal{
     top: 150px;
    right: 20%;
 
    max-width: 30%;
  }

  .aboutMe-tab{
    width: 500px;
    height: auto;
  }
  .flag{
    
    right: -70%;
  }

}

 /* Tablets design =======================================================================================*/

@media (max-width: 1030px)
{
  :root{
    --buttonsX: 40px;
    --buttonsY: 120px;
    --childBtnX: calc(var(--buttonsX)  - 180px);
    --tabFinalX: 37%;
  }
  button{
    width: 150px;
    letter-spacing: 1px;
    font-size: 15px;
  }

  .my-name{
    font-size: 300%;   
    top: -20px;
    left: 20px;
    animation: none;
  }

  .aboutMe-btn, .contact-btn, .projects-btn{
    top: var(--buttonsY);
    left: var(--buttonsX);
  }

  .contact-btn{
    top: calc( var(--buttonsY) + 50px);
  }
  .projects-btn{
    top: calc( var(--buttonsY) + 100px);
  }

  
  .frontend-dev{
    font-size: 150%;
    top: 560px;
    left: 20px;
    animation: none;
    
  }
  
  .photo-blue, .photo-normal{
     top: 150px;
    right: 20%;
 
    max-width: 30%;
    animation: none;
  }

  .photo-normal{
    display: none;
  }
  .aboutMe-tab{
    width: 500px;
    height: auto;
  }
  .hide-element{
    display: none;
  }
  .watcher-btn, .timemanager-btn, .mainevent-btn, .mypage-btn{
    left: calc( var(--buttonsX) + 20px);
    top: calc( var(--buttonsY) + 160px);
    padding: 5px 10px 5px;
    width: 150px;
    font-size: 14px;
    animation: none;
  }

  .timemanager-btn{
    top: calc( var(--buttonsY) + 200px);
  }

  .mainevent-btn{
    top: calc( var(--buttonsY) + 240px);
  }
  .mypage-btn{
    top: calc( var(--buttonsY) + 280px);
  }
  .aboutMe-tab, .contact-tab{
    position: absolute;
    visibility: hidden;
    top:100px;
    left: auto;
    right: 150px;
    width: 400px;
    height: 400px;
    background-color: var(--xiketic);
    border: solid 2px white;
    box-shadow:
    0 0 7px #fff,
    0 0 12px var(--absolut-zero),
    0 0 42px var(--absolut-zero);
  
    color: white;
    padding: 10px 20px 10px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  .enterTab{
    animation: 0.05s slidingIn-tab forwards;
  }
  
  .exitTab{
    animation: 0.05s slidingOut-tab forwards;
  }
  @keyframes slidingIn-tab {
    from{
      visibility: hidden;
    }
    to{
      visibility: visible;
    }
    
  }
  @keyframes slidingOut-tab {
    from{
      visibility: visible;
    }
    to{
      visibility: hidden;
    }
  }


  .icon{
    
    top: 560px;
    left: auto;
    animation: none;
    max-width: none;
    width: 30px;
  }

  .js-logo{
    right: 90px;
  }
  .ts-logo{
    right: 50px;
  }
  .react-logo{
    right:10px;
  }

  .icon-on-tab1, .icon-on-tab2, .icon-on-tab3{
    max-width: none;
    width: 30px;
    top: 85%;
  }
  .icon-on-tab1{
    left: 80%;
  }
  .icon-on-tab2{
    left: 90%;
  }
  .icon-on-tab3{
    left: 100%;
  }


  .linkedin-logo, .github-logo{
    border-radius: 50%;
    height: auto;
    width: 60px;
    margin: 5px;
    text-align: center;
    margin:  0px;
  }


  .loading-text{
    display: none;
  }
}

@media (max-width: 900px) {
  .aboutMe-tab, .contact-tab{
    right: 50px;
  }
  .contact-tab{
    width: 400px;
  }
  .photo-blue{
    max-width: 40%;
    right: 15%;
  }

}

@media (max-width: 750px) {
  .aboutMe-tab, .contact-tab{
    width: 300px;
    height: 350px;
    font-size: 17px;
  }
  .contact-tab{

    width: 300px;
    height: 320px;
    right: 80px;

  }

  .whatsapp-logo, .gmail-logo{
    left: -10px;
  }
  .whatsapp-label, .gmail-label{
    top: 10px;
  }

  
  .photo-blue{
    max-width: 40%;
    right: 15%;
  }
  .flag{
    right: -60%;
  }
  .icon-on-tab1{
    left: 75%;
  }
  .icon-on-tab2{
    left: 87%;
  }

}

@media (max-width: 630px){
  .my-name{
    right: 10%;
    text-align: center;
    font-size: 250%;
    
  }
  button{
    width: 90px;
    font-size: 70%;
    padding: 6px 10px 6px;
  }
  .aboutMe-btn{
    top: 12%;
    left: 5%;
  }
  .contact-btn{
    top: 12%;
    left: 37%;
  
  }
  .projects-btn{
    top: 12%;
    left: 68%;
  }
  .watcher-btn, .timemanager-btn, .mainevent-btn, .mypage-btn{
    left: auto;
    top: auto;
    padding: 5px 5px 5px;
    width: 42%;
    font-size: 14px;
  }
  .watcher-btn{
    top: 18%;
    left: 3%;
  }
  .timemanager-btn{
    top: 18%;
    left: 50%;
    padding: 5px 4px 5px;
  }
  .mainevent-btn{
    top: 24%;
    left: 4%;
  }
  .mypage-btn{
    top: 24%;
    left: 50%;
  }

  .photo-blue{
    top: 40%;
    max-width: none;
    width: 250px;
    right: 50%;
    display: block;
    margin-right: -125px;
 
  }

  .aboutMe-tab, .contact-tab{
    position: fixed;
    width: 220px;
    top: 30%;
    right: 50%;
    left: auto;
    margin-right: -130px;
    font-size: 90%;
  }

  .contact-tab{
    height: 350px;
    display: flexbox;
    grid-template-columns: auto auto;
    row-gap: 5px;
    width: 220px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    letter-spacing: 1px;
  }
  .whatsapp-logo{
    left: 140%;
  }
  .whatsapp-label{
    left: 50%;
    margin-left: -110px;
    top: 30%;
  }
  .gmail-logo{
    left: 140%;
    top: -30%;
  }
  .gmail-label{
    left: -20%
  }
  
  .github-label, .linkedin-label{
    display: none;
  }
  .github-logo{
    left: 40%;
  }
  .linkedin-logo{
    left: 35%;
  }
  
  .projects-child-tab{
    top: 35%;
    height: 330px;
    font-size: 85%;
  }
  .github-btn{
    left: 75%;
    width: 40px;
  }

  .flag{
    position: relative;
    width: 40px;
    height: 27.5px;
    margin: 1px;
    top: -50px;
    right: auto;
    left: 40px;
  }

  .about-title{
    left: 50px;
  }

  .sml-contact-logo{
    width: 30px;
  }

  .frontend-dev{
    left: 5%;
    top: auto;
    bottom: 10px;
    
    font-size: 120%;
  }
  .icon{
    width: 20px;
    top: auto;
    bottom: 10px;
  }
  .js-logo{
    right: 63px;
  }
  .ts-logo{
    right: 35px;
  }
}